# Media Downloader API Configuration

# Project Settings
PROJECT_NAME="Media Downloader API"
ALLOWED_HOSTS=["https://orrddyhd.netlify.app", "http://localhost:3000"]
API_V1_STR="/api"

# Rate Limiting
# Format: "X per minute", "X per hour", etc.
RATE_LIMIT_DEFAULT="5 per minute"
